div.wp-block-group.pmk-audience-profiles {
	margin-bottom: var(--pmk-spacing-components);
	margin-top: 0;

	& h2 {
		border-bottom: 1px solid var(--pmk-global-color-border);
		font-size: var(--pmk-heading-2-font-size);
		font-weight: var(--pmk-font-weight-normal);
		line-height: var(--pmk-heading-2-line-height);
		margin-bottom: var(--pmk-spacing-internal-xlarge);
		padding-bottom: var(--pmk-spacing-internal-xsmall);
	}

	& .wp-block-image {
		align-items: center;
		background-color: var(--pmk-global-color-background-focus);
		border-radius: 50%;
		display: flex;
		height: 14.6875rem; /* 235px */
		justify-content: center;
		margin: 0 auto;
		padding: var(--pmk-spacing-internal-medium);
		width: 14.6875rem; /* 235px */
	}

	& p {
		font-size: var(--pmk-text-base-font-size);
		line-height: var(--pmk-text-base-line-height);
		margin-top: var(--pmk-spacing-related);
	}

	& figure {
		max-height: 8.5625rem; /* 137px */
		max-width: 8.5625rem; /* 137px */
	}
}
