.wp-block-buttons {

	& .pmk-button {

		& .wp-block-button__link {
			background-color: var(--pmk-color-button-primary-background);
			color: var(--pmk-color-button-primary-text);

			&:hover,
			&:focus {
				background-color: var(--pmk-color-button-primary-background-hover);
				color: var(--pmk-color-button-primary-text-hover);
			}
		}
	}
}
