@media (--bp-large) {

	.content-grid {
		display: -ms-grid;
		display: grid;
		grid-gap: 1rem;
	}

	.content-grid.cols-2 {
		-ms-grid-columns: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}

	.content-grid.cols-3 {
		-ms-grid-columns: repeat(3, 1fr);
		grid-template-columns: repeat(3, 1fr);
	}

	.content-grid.cols-4 {
		-ms-grid-columns: repeat(4, 1fr);
		grid-template-columns: repeat(4, 1fr);
	}

	.content-grid.cols-5 {
		-ms-grid-columns: repeat(5, 1fr);
		grid-template-columns: repeat(5, 1fr);
	}

	.content-grid.cols-6 {
		-ms-grid-columns: repeat(6, 1fr);
		grid-template-columns: repeat(6, 1fr);
	}

	.content-grid.cols-7 {
		-ms-grid-columns: repeat(7, 1fr);
		grid-template-columns: repeat(7, 1fr);
	}

	.content-grid.cols-8 {
		-ms-grid-columns: repeat(8, 1fr);
		grid-template-columns: repeat(8, 1fr);
	}

	.content-grid.cols-9 {
		-ms-grid-columns: repeat(9, 1fr);
		grid-template-columns: repeat(9, 1fr);
	}

	.content-grid.cols-10 {
		-ms-grid-columns: repeat(10, 1fr);
		grid-template-columns: repeat(10, 1fr);
	}
}
