/* Components */
@import url("accordion.css");
@import url("audience-profiles.css");
@import url("buttons.css");
@import url("content-grid.css");
@import url("stats.css");
@import url("tabs.css");

.entry .entry-content .wp-block-group {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--pmk-global-max-width) !important;

	& .wp-block-columns {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--pmk-global-max-width) !important;
	}
}
