div.wp-block-group.pmk-question-block {
	background-color: var(--pmk-global-color-background-focus);
	color: var(--pmk-global-color-text-on-background);

	@media (--bp-medium) {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	& .wp-block-columns {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: var(--pmk-spacing-internal-large);

		@media (--bp-medium) {
			flex-direction: row;
		}
	}

	& .wp-block-column {
		margin: 0;
	}

	& .wp-block-group__inner-container,
	& .wp-block-columns {

		@media (--bp-medium) {
			flex-grow: 1;
		}
	}

	& .pmk-question-left {
		align-items: center;
		display: flex;
		font-weight: var(--pmk-font-weight-normal);
		margin-bottom: var(--pmk-spacing-internal-large);
		text-align: center;

		@media (--bp-medium) {
			flex-grow: 2;
			justify-content: flex-end;
			margin-bottom: 0;
			margin-right: var(--pmk-spacing-internal-large);
			text-align: left;
		}
	}

	& .pmk-question-right {

		@media (--bp-medium) {
			flex-grow: 1;
		}
	}

	& h2 {
		font-weight: var(--pmk-font-weight-normal);
	}

	& .wp-block-button {
		margin-bottom: 0;
	}
}
