div.wp-block-group.pmk-question-block {
	background-color: var(--pmk-global-color-background-focus);
	color: var(--pmk-global-color-text-on-background);
	padding: 20px 0;

	& .wp-block-group__inner-container {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	& h2 {
		font-size: var(--pmk-l-font-size);
		margin: 10px 20px !important;  /* !important to override base style */
		text-align: center;
	}

	& .wp-block-buttons {
		display: inline-flex;
		margin: 0 !important;  /* !important to override base style */

		& .wp-block-button {
			margin-bottom: 0;
		}
	}
}
