.entry .entry-content .wp-block-group.pmk-stats {
	margin-bottom: 0;
	margin-top: 0;
	position: relative;

	@mixin has-full-width-background;

	&::after,
	&::before {
		bottom: calc(-1 * var(--pmk-spacing-components));
		height: calc(50% + var(--pmk-spacing-components));
		top: unset;
	}

	& .wp-block-column {
		z-index: 1;

		@mixin has-box-shadow;

		@media (--wp-medium-max) {
			margin: var(--pmk-spacing-internal-medium);
		}
	}

	& h3 {
		font-size: var(--pmk-heading-2-font-size);
		font-weight: var(--font-weight-normal);
		line-height: var(--pmk-heading-2-line-height);
		margin-bottom: var(--pmk-spacing-internal-xsmall);

		@media (--bp-large) {
			font-size: var(--pmk-heading-1-font-size);
			line-height: var(--pmk-heading-1-line-height);
		}
	}

	& p {
		color: var(--pmk-global-color-secondary);
		font-size: var(--pmk-text-small-font-size);
		line-height: var(--pmk-text-small-line-height);
		margin-top: 0;
	}
}
