div.wp-block-group.pmk-tabs-table {
	margin-bottom: var(--pmk-spacing-components);

	&.alignwide {

		& .tabs {
			margin-left: auto !important; /* !important to override group styles */
			margin-right: auto !important;
			max-width: var(--pmk-alignwide-width) !important;
			width: var(--pmk-alignwide-width) !important;
		}
	}

	& .tab-title {
		font-size: var(--pmk-heading-2-font-size);
		font-weight: var(--pmk-font-weight-normal);
		line-height: var(--pmk-heading-2-line-height);
		margin: 0 calc(var(--pmk-spacing-internal-medium) * 2) 0 0;
		position: relative;

		&::after {
			background-color: var(--pmk-global-color-border);
			content: "";
			display: block;
			height: 20px;
			position: absolute;
			right: calc(-1 * var(--pmk-spacing-internal-medium));
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
		}
	}
	
	& .tabs-header {
		border-bottom: 1px solid var(--pmk-global-color-border);
		display: flex;
		margin-bottom: var(--pmk-spacing-internal-xlarge);
		position: relative;
	}

	& .tab-list {
		align-items: center;
		display: flex;
	}

	& .tab-item, {
		border: 0;
		height: 100%;

		&.is-active [role="tab"] {
			background: none;
			position: relative;

			&::after {
				background-color: var(--pmk-global-color-accent);
				bottom: 0;
				content: "";
				display: block;
				height: 4px;
				left: 0;
				position: absolute;
				width: 100%;
			}
		}

		& > [role="tab"] {
			align-items: center;
			border: 0;
			display: flex;
			font-size: var(--pmk-text-small-font-size);
			font-weight: var(--pmk-font-weight-bold);
			height: 100%;
			line-height: var(--pmk-text-small-line-height);
			margin-right: var(--pmk-spacing-internal-large);
			padding: 0;

			&:first-of-type {
				padding-left: 0;
			}

			&:hover,
			&:focus {
				background: none;
			}
		}
	}

	& .tab-group {
		border: 0;
	}

	& .tab-content {
		padding: 0;

		& .wp-block-table {
			margin: 0;
		}

		& table {
			border: 0;
			border-bottom: 4px solid var(--pmk-global-color-accent-secondary);
		}

		& thead {
			border: 0;
		}

		& th,
		& td, {
			border: 0;
			padding: var(--pmk-spacing-internal-medium) var(--pmk-spacing-internal-large);
			text-align: left;
		}

		& tbody tr:nth-child(odd) {
			background-color: var(--pmk-global-color-background-focus);
			color: var(--pmk-global-color-text-on-background);
		}

		& tbody td {
			border-right: 1px solid var(--pmk-global-color-border);

			&:last-of-type {
				border: 0;
			}
		}
	}
}
