body:not(.wp-admin) div.wp-block-group.pmk-tabs-table {

	& .tabs-header {
		margin-bottom: var(--pmk-spacing-internal-medium);

		@media (--wp-small) {
			display: flex;
			margin-bottom: var(--pmk-spacing-internal-xlarge);
		}
	}

	& .tab-title {
		border: 0;
		margin-bottom: 0;

		&::after {
			background-color: var(--pmk-global-color-border);
			content: "";
			display: block;
			height: 50%;
			position: absolute;
			right: calc(-1 * var(--pmk-spacing-internal-medium));
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
		}
	}

	& .tab-content {
		padding: 0;
	}
}

div.wp-block-group.pmk-tabs-table {
	margin-bottom: var(--pmk-spacing-components);

	&.alignwide {

		& .tabs {
			margin-left: auto !important; /* !important to override group styles */
			margin-right: auto !important;
			max-width: var(--pmk-alignwide-width) !important;
			width: var(--pmk-alignwide-width) !important;
		}
	}

	& .tab-title {
		border-bottom: 1px solid var(--pmk-global-color-border);
		font-size: var(--pmk-heading-5-font-size);
		font-weight: var(--pmk-font-weight-normal);
		line-height: var(--pmk-heading-5-line-height);
		margin: 0 calc(var(--pmk-spacing-internal-medium) * 2) 0 0;
		position: relative;


		@media (--wp-small) {
			font-size: var(--pmk-heading-2-font-size);
			line-height: var(--pmk-heading-2-line-height);
			overflow: inherit;
		}

	}

	& .tabs-header {
		border-bottom: 1px solid var(--pmk-global-color-border);
		padding-bottom: 10px;
		position: relative;
	}

	& .tab-list {
		align-items: center;
		display: flex;
		height: auto;
		overflow-x: auto;
		overflow-y: hidden;
		padding-left: 0;

		@media (--wp-small) {
			height: var(--tab-item-height);
			overflow: inherit;
			padding-left: inherit;
		}
	}

	& .tab-item {
		border: 0;
		height: 100%;

		/* Ensure list bullets stay hidden */
		&::before {
			display: none;
		}

		&.is-active [role="tab"] {
			background: none;
			position: relative;

			&::after {
				background-color: var(--pmk-global-color-accent);
				bottom: auto;
				content: "";
				display: block;
				height: 4px;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;

				@media (--wp-small) {
					bottom: -10px;
					top: auto;
				}
			}
		}

		& > [role="tab"] {
			align-items: center;
			border: 0;
			display: flex;
			font-size: var(--pmk-text-smaller-font-size);
			font-weight: var(--pmk-font-weight-bold);
			height: 100%;
			line-height: var(--pmk-text-small-line-height);
			margin-right: var(--pmk-spacing-internal-large);
			padding: 0 0 var(--pmk-spacing-internal-small);

			@media (--wp-small) {
				font-size: var(--pmk-text-small-font-size);
				padding: 0;
			}

			&:first-of-type {
				padding-left: 0;
			}

			&:hover,
			&:focus {
				background: none;
			}
		}
	}

	& .tab-group {
		border: 0;

		& .tab-header {
			font-family: unset;
			font-size: unset;
		}
	}

	& .tab-content {
		font-size: var(--pmk-text-smaller-font-size);

		@media (--wp-small) {
			font-size: var(--pmk-text-small-font-size);
		}

		& .wp-block-table {
			margin: 0;
		}

		& table {
			border: 0;
			border-bottom: 4px solid var(--pmk-global-color-accent-secondary);
		}

		& thead {
			border: 0;
		}

		& th,
		& td {
			border: 0;
			padding: var(--pmk-spacing-internal-medium) var(--pmk-spacing-internal-large);
			text-align: left;
		}

		& tbody tr:nth-child(odd) {
			background-color: var(--pmk-global-color-background-focus);
			color: var(--pmk-global-color-text-on-background);
		}

		& tbody td {
			border-right: 1px solid var(--pmk-global-color-border);

			&:last-of-type {
				border: 0;
			}
		}
	}
}
