/**
* Base HTML
*/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: var(--pmk-global-color-primary);
	font-family: var(--pmk-global-font-family);
	font-size: var(--pmk-text-base-font-size);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: var(--pmk-text-base-line-height);
}
