@define-mixin has-box-shadow {
	background-color: var(--pmk-global-color-background);
	border-radius: var(--pmk-border-radius);
	box-shadow: var(--pmk-box-shadow);
	padding: var(--pmk-spacing-internal-xlarge) var(--pmk-spacing-internal-medium);
}
