@define-mixin has-box-shadow {
	background-color: var(--pmk-global-color-background);
	border-radius: var(--pmk-border-radius);
	box-shadow: var(--pmk-box-shadow);
	color: var(--pmk-global-color-primary);
	padding: var(--pmk-spacing-internal-xlarge) var(--pmk-spacing-internal-medium);
}

@define-mixin has-full-width-background {
	position: relative;

	& > * {
		position: relative;
		z-index: 1;
	}

	&::before {
		background-color: var(--pmk-global-color-background-focus);
		content: "";
		height: 100%;
		left: 50%;
		margin-left: -50vw;
		position: absolute;
		top: 0;
		width: 100vw;
		z-index: 0;
	}
}
