/*
 * Site variables
 * These variables can be overridden
 */
:root {

	/* Base colors */

	/**
	 * Checking if Theme variables (Twenty Twenty One) are present
	 * otherwise falling back to PMK variables
	 */
	--pmk-global-color-primary: var(--global--color-primary, var(--pmk-c-grey-darker));
	--pmk-global-color-secondary: var(--global--color-secondary, var(--pmk-c-comet));
	--pmk-global-color-accent: var(--global--color-gray, var(--pmk-c-light-slate-blue));
	--pmk-global-color-accent-secondary: var(--global--color-gray, var(--pmk-c-light-salmon));
	--pmk-global-color-background: var(--global--color-background, var(--pmk-c-white));
	--pmk-global-color-background-focus: var(--global--color-secondary, var(--pmk-c-ghost-white));
	--pmk-global-color-border: var(--global--color-border, var(--pmk-c-pattens-blue));
	--pmk-global-color-text-on-background: var(--global--color-white, var(--pmk-c-sapphire));
	--pmk-global-color-text-on-background-secondary: var(--global--color-light-gray, var(--pmk-global-color-secondary));

	/* Buttons */
	--pmk-color-button-primary-background: var(--pmk-c-light-slate-blue);
	--pmk-color-button-primary-text: var(--pmk-c-white);
	--pmk-color-button-primary-background-hover: var(--pmk-c-sapphire);
	--pmk-color-button-primary-text-hover: var(--pmk-c-white);

	/* Spacings */

	--pmk-global-max-width: var(--responsive--alignwide-width, var(--pmk-max-width));
	
	/* Spacing between unrelated components */
	--pmk-spacing-components: var(--pmk-spacing-70);

	/* Spacing between related components */
	--pmk-spacing-related: var(--pmk-spacing-30);
	
	/* Spacing between internal elements of the component */
	--pmk-spacing-internal-xsmall: var(--pmk-spacing-8);
	--pmk-spacing-internal-small: var(--pmk-spacing-12);
	--pmk-spacing-internal-medium: var(--pmk-spacing-20);
	--pmk-spacing-internal-large: var(--pmk-spacing-30);
	--pmk-spacing-internal-xlarge: var(--pmk-spacing-56);

	/* Typography */
	--pmk-heading-1-font-size: var(--pmk-xl-font-size);
	--pmk-heading-1-line-height: var(--pmk-xl-line-height);
	--pmk-heading-2-font-size: var(--pmk-l-font-size);
	--pmk-heading-2-line-height: var(--pmk-l-line-height);
	--pmk-heading-3-font-size: var(--pmk-m-font-size);
	--pmk-heading-3-line-height: var(--pmk-m-line-height);
	--pmk-heading-4-font-size: var(--pmk-sm-font-size);
	--pmk-heading-4-line-height: var(--pmk-sm-line-height);
	--pmk-heading-5-font-size: var(--pmk-s-font-size);
	--pmk-heading-5-line-height: var(--pmk-s-line-height);
	--pmk-heading-6-font-size: var(--pmk-xs-font-size);
	--pmk-heading-6-line-height: var(--pmk-xs-line-height);

	--pmk-text-smaller-font-size: var(--pmk-xxs-font-size);
	--pmk-text-smaller-line-height: var(--pmk-xxs-line-height);
	--pmk-text-small-font-size: var(--pmk-xs-font-size);
	--pmk-text-small-line-height: var(--pmk-xs-line-height);
	--pmk-text-base-font-size: var(--pmk-sm-font-size);
	--pmk-text-base-line-height: var(--pmk-sm-line-height);
	--pmk-text-large-font-size: var(--pmk-m-font-size);
	--pmk-text-large-line-height: var(--pmk-m-line-height);
}
